main .form .steps .step-4 .step-number, main .form .steps .step-4, main .form .steps .step-3 .step-number, main .form .steps .step-3, main .form .steps .step-2 .step-number, main .form .steps .step-2, main .form .steps .step-1 .step-number, main .form .steps .step-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
}

* a {
  text-decoration: none;
}

main {
  height: 100vh;
  background-color: hsl(217, 100%, 97%);
  display: flex;
  align-items: center;
  justify-content: center;
}
main .form {
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  display: flex;
  gap: 50px;
  border-radius: 8px;
  max-width: 900px;
  width: 100%;
  margin: 0 20px;
}
main .form .steps {
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  padding: 35px 25px;
  width: 100%;
  max-width: 274px;
  height: 567px;
}
main .form .steps .step-1 {
  justify-content: flex-start;
  margin-bottom: 35px;
}
main .form .steps .step-1 .step-number {
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 16px;
  margin-right: 15px;
  font-weight: bold;
  transition-duration: 0.5s;
}
main .form .steps .step-1 .step-info {
  text-transform: uppercase;
}
main .form .steps .step-1 .step-info .step-head {
  color: hsl(231, 11%, 63%);
  font-size: 13px;
  display: block;
  margin-bottom: 2px;
}
main .form .steps .step-1 .step-info .step-name {
  color: hsl(0, 0%, 100%);
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: bold;
}
main .form .steps .step-1.active .step-number {
  background-color: hsl(206, 94%, 87%);
  color: black;
  border: 1px solid hsl(243, 100%, 62%);
}
main .form .steps .step-2 {
  justify-content: flex-start;
  margin-bottom: 35px;
}
main .form .steps .step-2 .step-number {
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 16px;
  margin-right: 15px;
  font-weight: bold;
  transition-duration: 0.5s;
}
main .form .steps .step-2 .step-info {
  text-transform: uppercase;
}
main .form .steps .step-2 .step-info .step-head {
  color: hsl(231, 11%, 63%);
  font-size: 13px;
  display: block;
  margin-bottom: 2px;
}
main .form .steps .step-2 .step-info .step-name {
  color: hsl(0, 0%, 100%);
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: bold;
}
main .form .steps .step-2.active .step-number {
  background-color: hsl(206, 94%, 87%);
  color: black;
  border: 1px solid hsl(243, 100%, 62%);
}
main .form .steps .step-3 {
  justify-content: flex-start;
  margin-bottom: 35px;
}
main .form .steps .step-3 .step-number {
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 16px;
  margin-right: 15px;
  font-weight: bold;
  transition-duration: 0.5s;
}
main .form .steps .step-3 .step-info {
  text-transform: uppercase;
}
main .form .steps .step-3 .step-info .step-head {
  color: hsl(231, 11%, 63%);
  font-size: 13px;
  display: block;
  margin-bottom: 2px;
}
main .form .steps .step-3 .step-info .step-name {
  color: hsl(0, 0%, 100%);
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: bold;
}
main .form .steps .step-3.active .step-number {
  background-color: hsl(206, 94%, 87%);
  color: black;
  border: 1px solid hsl(243, 100%, 62%);
}
main .form .steps .step-4 {
  justify-content: flex-start;
  margin-bottom: 35px;
}
main .form .steps .step-4 .step-number {
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 16px;
  margin-right: 15px;
  font-weight: bold;
  transition-duration: 0.5s;
}
main .form .steps .step-4 .step-info {
  text-transform: uppercase;
}
main .form .steps .step-4 .step-info .step-head {
  color: hsl(231, 11%, 63%);
  font-size: 13px;
  display: block;
  margin-bottom: 2px;
}
main .form .steps .step-4 .step-info .step-name {
  color: hsl(0, 0%, 100%);
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: bold;
}
main .form .steps .step-4.active .step-number {
  background-color: hsl(206, 94%, 87%);
  color: black;
  border: 1px solid hsl(243, 100%, 62%);
}
main .form .form-area {
  padding: 40px;
  padding-bottom: 20px;
  position: relative;
  max-width: 490px;
  width: 100%;
  opacity: 0;
  transition-duration: 0.8s;
}
main .form .form-area .form-header {
  margin-bottom: 10px;
  font-size: 30px;
  color: hsl(213, 96%, 18%);
}
main .form .form-area .form-description {
  color: hsl(231, 11%, 63%);
  font-size: 15px;
}
main .form .form-area .fields {
  margin-top: 40px;
}
main .form .form-area .fields .field {
  margin-bottom: 25px;
}
main .form .form-area .fields .field label {
  display: block;
  margin-bottom: 5px;
  color: hsl(213, 96%, 18%);
}
main .form .form-area .fields .field input {
  padding: 15px;
  border-radius: 8px;
  width: 100%;
  border: 1px solid hsl(229, 24%, 87%);
}
main .form .form-area .fields .field input::-moz-placeholder {
  color: hsl(231, 11%, 63%);
}
main .form .form-area .fields .field input::placeholder {
  color: hsl(231, 11%, 63%);
}
main .form .form-area .fields .field input:focus {
  outline: none;
}
main .form .form-area .plans {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 15px;
}
main .form .form-area .plans .plan-box {
  padding: 15px;
  position: relative;
}
main .form .form-area .plans .plan-box label {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
  padding: 15px;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 7px;
  cursor: pointer;
}
main .form .form-area .plans .plan-box input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
main .form .form-area .plans .plan-box input:focus {
  outline: none;
}
main .form .form-area .plans .plan-box input:checked + label {
  background-color: rgba(173, 190, 255, 0.1490196078);
  border-radius: 7px;
  border-color: hsl(243, 100%, 62%);
}
main .form .form-area .plans .plan-box .plan-info {
  margin-top: 70px;
}
main .form .form-area .plans .plan-box .plan-info .plan-name {
  color: hsl(213, 96%, 18%);
}
main .form .form-area .plans .plan-box .plan-info .plan-offer {
  margin: 3px 0;
  color: hsl(231, 11%, 63%);
  display: block;
  font-size: 12px;
}
main .form .form-area .plans .plan-box .plan-info .free-over {
  color: hsl(213, 96%, 18%);
  font-size: 13px;
  font-weight: 400;
  margin-top: 5px;
}
main .form .form-area .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 407.77px;
  height: 44.5px;
  bottom: 20px;
  right: 42px;
}
main .form .form-area .buttons .prev {
  cursor: pointer;
  color: hsl(231, 11%, 63%);
}
main .form .form-area .buttons .next {
  padding: 10px 20px;
  color: hsl(0, 0%, 100%);
  border-radius: 6px;
  border: none;
  background: hsl(213, 96%, 18%);
  width: 115px;
  text-align: center;
  cursor: pointer;
}
main .form .form-area .buttons .next.confirm {
  background-color: hsl(243, 100%, 62%);
}/*# sourceMappingURL=main.css.map */